<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/movie.css}"/>

    <title>Movie</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/movie.js}"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div id="movie">
    <div class="row">
        <div class="col-4">
            <div id="thumbnail"></div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <div>Title: </div>
                </div>
                <div class="col">
                    <div id="title"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>Genres: </div>
                </div>
                <div class="col">
                    <div id="genres"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>Release Date: </div>
                </div>
                <div class="col">
                    <div id="release"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>Rating: </div>
                </div>
                <div class="col">
                    <div id="rating"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>Runtime: </div>
                </div>
                <div class="col">
                    <div id="runtime"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>Status: </div>
                </div>
                <div class="col">
                    <div id="status"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div id="overview"></div>
        </div>
        <div class="col">
            <div id="like"></div>
        </div>
    </div>
</div>
</body>
</html>